*{
    box-sizing:border-box;
}
body{
    width: 550px;
    height: 300px;
    margin: 20px auto;

}
header{
    width: 450px;
    height: 80px;
    display: flex;
    background-color: #DC7633;
    margin: 0 auto 20px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
header h2{
    color: #FFFFCC;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 350px;
}

header img{
    width: 70px;
    height: 70px;
    text-align: center;
}

main{
    width: 500px;
    height: auto;
    background-color: #873600;
    margin: 0 auto;
    border-radius: 15px;
}

form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 40px 30px 20px 30px;
}

section{
    display: flex;
    align-items: center;
}

section label{
    width: 200px;
    margin-right: 10px;
}
.precio-label{
    margin-right: 125px;
}

input{
    width: 80px;
    height: 30px;
    margin-right: 10px;
    border-radius: 10px;
    border: 0;
    color: black;
    font-weight: 600;
    border: 5px solid #F5B7B1;
    box-sizing: content-box;
}

#cupon{
    width: 130px;
    outline: none;
}

#precio-etiqueta{
    outline: none;
}

#cupon-section{
    justify-content:flex-start
}

form section label, form section p, form p{
    color: white;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;;
}

.button-calcule{
    width: 200px;
    height: 40px;
    align-self: center;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    background-color: #EB984E;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border: none;
}

.reset{
    width: 100px;
    background-color:#FA8072;
}

form button:hover {
    border: solid 0.1rem #FFFFCC;
    box-shadow: 0px 1px 2px 0px #E2E2E3;
}

form p{
    display: flex;
    width: 500px;
}

form p span{
    margin-right: 20px;
    margin-left: 20px;
    color: #FFFFCC;
}

.advertencia{
    color: #D8545D;
    background-color: white;
    display: block;
    width: 250px;
    padding-left: 15px;
}

.descuento-container, .precio-container{
    margin: 0;
}

.inactive{
    display: none;
}